@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
/* @import url(https://db.onlinewebfonts.com/c/547fcb026eb30833b9696544bec8e2ac?family=Baskerville+Display+PT+Web); */
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

/* font-family: "Baskerville Display PT Web"; */

body {
  padding-top: 0;
  padding-bottom: 0;
  font-family: 'Roboto', sans-serif;
}

/* Carousel ***/
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}

/* Navbar ***/
.navbar {
  height: 92px;
  border: 0.5px solid #AFAFAF;
}
.navbar .megamenu{ padding: 1rem; }
.dropdown-toggle::after {
  display: none;
}
.menu-left li a {
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  padding: 0 25px ! important;
}
.menu-left li a:first-child {
  padding-left: unset ! important;
}
.menu-right li {
  padding: 0 18px;
}
.menu-right li:last-child {
  padding-right: unset ! important;
}
.btn-grey  {
  width: 170px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background: #EEEEEE;
  font-weight: 700;
  color: #2B2B2B;
}
.btn-blue  {
  width: 170px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background: #4942BB;
  font-weight: 700;
  color: #FFFFFF;
}
.megamenu.dropdown-menu {
  background: #4942BB;
  color: #FFFFFF;
  border-radius: 0px 0px 50px 50px;
  padding: 170px 0 120px;
}
.col-megamenu li {
  padding: 43px 0;
}
.col-megamenu li a {
  color: #FFFFFF;
  font-size: 50px;
  /* font-family: "Baskerville Display PT Web"; */
  font-family: "Baskerville Regular";
  text-decoration: none;
}
.col-megamenu li a:hover {
  border-bottom: 2px solid #000000;
}
.col-megamenu li p {
  font-size: 16px;  
  font-family: 'Roboto', sans-serif;
  color: #ffffff9a;
}
.col-megamenu li p span {
  color: #ffffff;
}


/* ============================BLOG CSS======================================= */


body{
  background-color: #000000;
}
.card {
  background:rgba(73, 66, 187, 10);
  backdrop-filter: blur(10px);
  width: 100%;
  border-radius: 0px;
}
.card-title{
  font-size: 50px;
  line-height: 70px;
  padding-bottom: 89px;
  margin: 0px;
}
div{
  margin: 0;
  padding: 0;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}
.blogImg img{
object-fit: contain;
width: 100%;
}
.secondContainer{
  padding:auto;
  padding-top: 139px;
}
.blogContent{
  background: #EBEBEB;
  padding-top: 65px;
  padding-left: 68px;
  padding-bottom: 69px;
  
}
.blogContent_thirdcontainer{
    background: #EBEBEB;
    padding-top: 65px;
    padding-left: 63px;
    padding-bottom: 69px;
    padding-right: 63px;
}
.round{
  background: #121A50;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.round_third{
  background-color: #2B2B2B;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.blogContent_head{
  display: flex;
  align-items: center;
  
}
.blogContent_head_third{
  display: flex;
  align-items: center;
  padding-top: 50px;
  
}

.blogContent_head .p1{
  font-size: 16px;
  line-height: 22px;
  font-weight: lighter;
  margin-bottom: 0;
  padding-left: 26px;
  color: #2B2B2B;

}
.blogContent_head .p2{
  font-size: 16px;
  line-height: 22px;
  font-weight: medium;
  margin-bottom: 0;
  padding-left: 287px;
  color: #2B2B2B;
}



.blogContent_middle h1{
  font-size: 24px;
  padding-top: 92px;
  color: #2B2B2B;
}
.blogContent_middle_third h1{
  font-size: 24px;
  padding-top: 26px;
  color: #2B2B2B;
}

.blogContent_middle p{
  padding-top: 27px;
  margin: 0;
  width: 70%;
}


.readBtn{
  background: #4942BB;
  width: 300px;
  height:80px;
  color: #FFFFFF;
  line-height: 30px;
  letter-spacing: 1.2px;
  border: none;
  border-radius: 50px;
  margin-top: 27px;
}
.blogContent_last {
  display: flex;
  align-items: center;
}


.blogContent_last p{
  padding-left: 220px;
  padding-top: 27px;

}

.thirdContainer{
  margin-top: 40px;
}

.blogContentImage img{
  object-fit: contain;
}


/* third container  */
.blogContent_last_third{
  justify-content: space-between;
  display: flex;
}
.blogContent_last_third .btn-blue{
  width: 300px;
  height: 80px;
  border-radius: 50px;
}
.blogContent_middle_third p{
  margin-bottom: 0;
  justify-content: center;
  align-items: center;
  display: flex;
}
.blogContent_middle_third .p1{
  padding-bottom: 27px;
}
.blogContent_head_third .p2{
  margin-bottom: 0px;
}
.blogContent_head_third{
  display: flex;
  justify-content: space-between;
}
.blogContent_head_third span {
  padding-left: 26px;
}
.blogContent_middle_third .p1{
  padding-top: 27px;
  font-size: 16px;
  color: #2B2B2B; 
}
.blogContent_middle_third p{
  color: #121A50;
  font-weight: medium;
  font-size: 16px;
  line-height: 22px;
}


/* fourth container  */
.cardFourth{
  background-color: #EBEBEB;
  padding: 40px 40px 65px 40px;
}
.fourthRow .col-md-4:first-child{
  padding-left: 0px;
}
.fourthRow .col-md-4:last-child{
  padding-right: 0px;
}
.cardFourth .btn-blue{
  height: 80px;
  border-radius: 50px;
  font-size: 20px;
 
}
.fourthRow{
  margin-top: 40px;
}
.profile {
  padding-top: 50px;
}
.profile span{
  padding-left: 26px;
  color: #2B2B2B;
  
}
.cardFourth_head h2{
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  padding-top: 25px;
}
.cardFourth_head p{
  padding-top: 37px;
  font-size: 16px;
  color: #2B2B2B;
  

}
.date_views{
  padding-top: 36px;
  padding-bottom: 37px;
}
.card-2{
  padding: 40px 37px 65px 37px;
}


/* fivth container  */
.pagination_blog {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 112px;
}
.page-link{
  background-color: transparent !important;
  color: white;
}
.page-item{
  padding-left: 46px;
  border-radius: none;
}
.pagination span{
  text-decoration: none; 
}
.pagination {
  margin-bottom: 0px;
  padding-bottom: 180px;
}


/* sixth container  */
.recentPost{
  display: flex;
  align-items: center;
  justify-content: center;
}
.recentPost h2{
  font-size: 100px;
  color: #FFFFFF;
  line-height: 70px;
  font-family: 'Libre Baskerville', serif;
}
.cardsixth{
  background: none;
  color: white;
  border: 1px solid white;
  margin-top: 47px;
  
}
.sixth span {
  color: #FFFFFF;
  font-weight: lighter;
}






/* =============================================================================== */

/* ============ desktop view ============ */
@media all and (min-width: 992px) {
	
	.navbar .has-megamenu{position:static!important;}
	.navbar .megamenu{left:0; right:0; width:100%; margin-top:0;  }
	
}	
/* ============ desktop view .end// ============ */


/* ============ mobile view ============ */
@media(max-width: 991px){
	.navbar.fixed-top .navbar-collapse, .navbar.sticky-top .navbar-collapse{
		overflow-y: auto;
	    max-height: 90vh;
	    margin-top:10px;
	}
}
/* ============ mobile view .end// ============ */

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

}
/* @media (min-width: 414px) {
  .container {
    max-width: 346px;
  }
} */
@media (min-width: 1400px) {
  .container {
    max-width: 1260px;
  }
}
@media (min-width: 1600px) {
  .container {
    max-width: 1360px;
  }
}
@media (min-width: 1900px) {
  .container {
    max-width: 1640px;
  }
}
@media (min-width: 1920px) {
  .container {
    max-width: 1387px;
  }
}




@media (max-width: 1600px) {
  .menu-right li {
    padding: 0 10px;
  }
  .megamenu.dropdown-menu {
    padding: 150px 0 80px;
  }
  .col-megamenu li {
    padding: 30px 0;
  }
  .col-megamenu li a {
    font-size: 30px;
  }
}

@media (max-width: 1399px) {
  .menu-right li {
    padding: 0 5px;
  }
  .megamenu.dropdown-menu {
    padding: 80px 0 50px;
  }
  .col-megamenu li {
    padding: 20px 0;
  }
  .col-megamenu li a {
    font-size: 25px;
  }
  .btn-grey {
    width: 150px;
  }
}

@media (max-width: 1199px) {
  .menu-right li a {
    padding: 0;
  }
  .menu-right li {
    padding: 0 5px;
  }
  .megamenu.dropdown-menu {
    padding: 80px 0 50px;
  }
  .col-megamenu li {
    padding: 20px 0;
  }
  .col-megamenu li a {
    font-size: 25px;
  }
  .btn-grey, .btn-blue {
    width: 120px;
  }

}



/* media query for agenda  */

@media(max-width:1900px){
 
}

@media(max-width:1600px){
  .blogContent {
    background: #EBEBEB;
    padding-top: 65px;
    padding-left: 52px;
    padding-bottom: 42px;
  }
  .blogContent_middle h1 {
    padding-top: 54px; 
  }
  .readBtn {
   
    width: 270px;
    height: 70px;    
  }
  .readBtn{
    margin-top: 50px;
  }
  .blogContent_last p {
    padding-top: 50px;
}
.blogContent_head .p2 {
  padding-left: 255px;
}
.blogContent_last p {
  padding-left: 208px;
  
}

}



@media(max-width:1580px){
 
}



@media(max-width:1497px){
  /* first container  */
  .card-title{
    padding-bottom: 48px;
  }
}




@media(max-width:1441px){
/* first container  */
.card{
  object-fit: contain;
  margin-top: 93px;
}

.card-title {
  font-size: 48px;
  line-height: 70px;
  padding-bottom: 48px;
  margin: 0px;
}

.card img{
  object-fit: cover;
  height: 215px;
}
.card-img-overlay{
  height: 215px;
}
/* first container end  */
}




@media(max-width:1400px){
  .readBtn {
    width: 214px;
    height: 65px;
  }
 .round{
  width: 40px;
  height: 40px;
 }
 .blogContent_head .p2 {
  padding-left: 182px;
  }
  .blogContent_last p {
    padding-left: 182px;
  }
  .blogContent {  
    padding-top: 51px;
    padding-left: 43px;
    padding-bottom: 0px;
 }
 .blogContent_middle h1 {
  padding-top: 69px;
  }
  .readBtn {
    margin-top: 35px;
}

}

@media (max-width:1200px){
  .blogContent_thirdcontainer {
    padding-top: 60px;
    padding-left: 40px;
    padding-bottom: 60px;
    padding-right: 40px;
  }
  .blogContent_last_third .btn-blue {
    width: 280px;
    height: 75px;
  }
}



@media(max-width:1201px){
  .readBtn {
    margin-top: 63px;
}
.blogContent_middle p {
  width: 83%;
}
.blogContent_last p {
  padding-left: 230px;
}

.blogContent_head .p2 {
  padding-left: 224px;
}
.blogContent_last p {
  padding-left: 200px;
}
}


@media(max-width:1200px){
  .blogContent {
    padding-top: 31px;
    padding-left: 29px;
    padding-bottom: 0px;
 }
 .blogContent_middle h1 {
  padding-top: 52px;
 }
 .blogContent_head .p2 {
  padding-left: 224px;
}
.blogContent_last p {
  padding-left: 200px;
}
.blogContent_head .p2 {
  padding-left: 134px;
}
.readBtn {
  margin-top: 25px;
}
.blogContent_last p {
  padding-left: 151px;
  padding-top: 25px;
}
.readBtn {
  width: 204px;
  height: 56px;
}
.blogContent_middle p {
  width: 83%;
  font-size: 14px;
}
.blogContent_middle p {
  width: 90%;
}
.blogContent_middle h1 {
  padding-top: 50px;
  font-size: 23px;
}
/* fourth container  */
.card-2 {
  padding: 40px 34px 70px 34px;
  }
  .profile {
    padding-top: 37px;
  }
  .profile img{
    width: 35px;
    height: 35px;
  }
  .cardFourth_head h2 {
    font-size: 21px;
    line-height: 28px;
    padding-top: 21px;
  }
  .cardFourth_head p {
    padding-top: 30px;
    font-size: 15px;
  }


}




@media(max-width:1025px){
 /* first container  */
 .card{
  object-fit: contain;
  margin-top: 93px;
}

.card-title {
  font-size: 47px;
  line-height: 70px;
  padding-bottom: 42px;
  margin: 0px;
}

.card img{
  object-fit: cover;
  height: 215px;
}
.card-img-overlay{
  height: 215px;
}
/* first container end  */
}



@media(max-width:992px){
  .blogContent_head .p2 {
    padding-left: 26px;
}
.blogContent {
  padding-top: 22px;
  padding-left: 20px;
  padding-bottom: 0px;
}
.blogContent_middle h1 {
  padding-top: 19px;
  font-size: 17px;
}
.readBtn {
  width: 137px;
  height: 44px;
  font-size: 14px;
}
.blogContent_head .p1 {
  font-size: 14px;
  line-height: 17px; 
  padding-left: 18px;
}
.round {
  width: 30px;
  height: 30px;
}
.blogContent_head .p2 {
  padding-left: 65px;
}
.blogContent_last p {
  padding-left: 124px;
  padding-top: 25px;
  font-size: 13px;
}
.blogContent_middle p {
  font-size: 13px;
}
.blogContent_head .p2 {
  font-size: 13px;
  padding-left: 80px;
}

/* fourth section  */
.blogContent_head_third span {
  padding-left: 20px;
  }
  .profile_section img{
    width: 35px;
    height: 35px;
  }
  .blogContent_head_third .p2 {
    font-size: 13px;
 }
 .profile_section span{
  font-size: 13px;
  }
  .blogContent_head_third span {
    padding-left: 5px;
  }
  .blogContent_middle_third h1 {
    font-size: 22px;
    padding-top: 21px;
  }
.blogContent_middle_third .p1 {
  padding-top: 22px;
  font-size: 14px;
  }
  .blogContent_last_third .btn-blue {
    width: 165px;
    height: 55px;
  }
  .blogContent_middle_third p {
    font-size: 14px;
    line-height: 20px;
  }
  .blogContent_middle_third .p1 {
    padding-bottom: 35px;
  }
  .profile {
    padding-top: 25px;
  }
 
 
  .cardFourth_head h2 {
    font-size: 14px;
    line-height: 23px;
    padding-top: 16px;
  }
  .profile span{
    font-size: 12px;
    padding-left: 14px;
  }
  .profile img{
    width: 30px;
    height: 30px;
  }
  .date_views {
    padding-top: 28px;
    padding-bottom: 31px;
  }
  .cardFourth_head p {
    padding-top: 20px;
    font-size: 12px;
  }
  .date_views p{
    font-size: 12px;
  }
  .cardFourth .btn-blue {
    height: 55px;
    font-size: 16px;
  }
  .cardFourth {
    padding: 35px 25px 35px 25px;
  }
  .card-2 {
    padding: 35px 20px 35px 20px;
  }



}




@media(max-width:769px){
  /* first container  */
  .card{
    object-fit: contain;
    margin-top: 93px;
  }
 
  .card-title{
    font-size: 45px;
    line-height: 70px;
    padding-bottom: 33px;
    margin: 0px;
  }

  .card img{
    object-fit: cover;
    height: 215px;
  }
  .card-img-overlay{
    height: 215px;
  }
  /* second container  */
  .blogContent {
    padding-top: 30px;
    padding-left: 38px;
    padding-bottom: 20px;
}
.blogContent_head .p2 {
  font-size: 14px;
  padding-left: 230px;
}
.blogContent_head .p1 {
  font-size: 15px;
  line-height: 22px;
  padding-left: 18px;
}
.blogContent_middle h1 {
  padding-top: 22px;
  font-size: 19px;
}
.blogContent_last p {
  padding-left: 245px;
  padding-top: 25px;
  font-size: 15px;
}
.readBtn {
  width: 170px;
  height: 55px;
  font-size: 15px;
}
.blogContent_middle p {
  font-size: 14px;
}

}



@media(max-width:768px){
  .blogContent {
    padding-top: 30px;
    padding-left: 38px;
    padding-bottom: 20px;
}
.blogContent_head .p2 {
  font-size: 14px;
  padding-left: 230px;
}
.blogContent_head .p1 {
  font-size: 15px;
  line-height: 22px;
  padding-left: 18px;
}
.blogContent_middle h1 {
  padding-top: 22px;
  font-size: 19px;
}
.blogContent_last p {
  padding-left: 245px;
  padding-top: 25px;
  font-size: 15px;
}
.readBtn {
  width: 170px;
  height: 55px;
  font-size: 15px;
}
.blogContent_middle p {
  font-size: 14px;
  }
  /* sixth container  */
  .recentPost h2 {
    font-size: 68px;
    line-height: 50px;
  }
}


@media(max-width:576px){
  .secondContainer {
    padding-top: 34px;
  }
  .blogContent {
    padding-top: 48px;
    padding-left: 55px;
    padding-bottom: 0px;
}
.round{
  width: 50px;
  height: 50px;
}
.blogContent_head .p2 {
  font-size: 13px;
  padding-left: 39px;
}
.blogContent_middle h1 {
  padding-top: 32px;
  font-size: 24px;
}
.readBtn {
  width: 205px;
  height: 75px;
  font-size: 19px;
}
.blogContent_last{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 39px;
}
.two {
  margin-left: 0px;
}
.blogContent_head .p1 {
  font-size: 16px;
  line-height: 22px;
  padding-left: 25px;
}
/* sixth container  */
.recentPost h2 {
  font-size: 60px;
  line-height: 50px;
  }

}



@media(max-width:442px){
  /* sixth container  */
  .recentPost h2 {
    font-size: 60px;
    line-height: 50px;
    }

}




@media(max-width:426px){

  /* first container  */
  .card{
    object-fit: contain;
    margin-top: 93px;
  }
 
  .card-title{
    font-size: 35px;
    line-height: 70px;
    padding-bottom: 33px;
    margin: 0px;
  }

  .card img{
    object-fit: cover;
    height: 215px;
  }
 
 /* sixth container  */
 .recentPost h2 {
  font-size: 52px;
  line-height: 50px;
  }



  
}


@media(max-width:415px){
  .secondContainer {
    padding-top: 34px;
  }
  .blogContent {
    padding-top: 48px;
    padding-left: 22px;
    padding-bottom: 0px;
}
.round{
  width: 50px;
  height: 50px;
}
.blogContent_head .p2 {
  font-size: 13px;
  padding-left: 39px;
}
.blogContent_middle h1 {
  padding-top: 32px;
  font-size: 24px;
}
.readBtn {
  width: 215px;
  height: 80px;
  font-size: 20px;
  
}
.blogContent_last{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 39px;
}
.two {
  margin-left: 0px;
}


/* sixth container  */
.recentPost h2 {
  font-size: 45px;
  line-height: 50px;
  }
  
}




@media(max-width:376px){
  .secondRow {
    margin: 20px 20px 0px 20px;
  }

.participants {
  padding-left: 14px;
}
.date p {
  font-size: 9px;
}
.button{
  justify-content: center;
  margin-bottom: 47px;
  margin-top: 0px;

}
.detailsBtn {
  padding: 19px 40px 19px 40px;
}
.date {
  margin-top: 91px;
  margin-bottom: 63px;
  padding-left: 0px;

  }
  .date h1 {
    font-size: 38px;
}
.nominations{
  padding-left: 0px;
  padding-right: 0px;
 }
 /* sixth container  */
.recentPost h2 {
  font-size: 40px;
  line-height: 50px;
  }
}


@media(max-width:321px){
  .cards h1 {
    padding-top: 50px;
  }
  .cards h4 {
    font-size: 22px;
    line-height: 32px;
    padding-top: 36px;
  }
  .secondRow {
    margin: 6px 16px 0px 16px;
  }
  /* third section  */
  .date h1 {
    font-size: 37px;
}
  .date p {
    font-size: 9px;
 }
  .detailsBtn {
    border: none;
    padding: 22px 25px 19px 36px;
    background: #4942BB;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    line-height: 27px;
}
  .button{
    justify-content: center;
    margin-bottom: 47px;
  margin-top: 0px;

  }
  .participants {
    padding-left: 15px;
}
.date {
  margin-top: 84px;
  margin-bottom: 58px;
  padding-left: 0px;
  }
  .nominations{
    padding-left: 0px;
    padding-right: 0px;
  }


  /* fourth section  */
  .blogContent_thirdcontainer {
    padding-top: 50px;
    padding-left: 26px;
    padding-bottom: 40px;
    padding-right: 30px;
  }
  .blogContent_middle_third h1 {
    font-size: 19px;
    padding-top: 18px;
  }
  .blogContent_last_third .btn-blue {
    width: 140px;
    height: 45px;
  }
  .blogContent_middle_third .p1 {
    padding-bottom: 30px;
  }
  .profile_section img {
    width: 30px;
    height: 30px;
  }
  .profile_section span {
    font-size: 12px;
  }
  .blogContent_head_third .p2 {
    font-size: 12px;
  }
  .blogContent_middle_third p {
    font-size: 12px;
  }
  .cardFourth .btn-blue {
    height: 60px;
    border-radius: 50px;
    font-size: 17px;
  }
  .cardFourth_head h2 {
    font-size: 20px;
    line-height: 26px;
    padding-top: 23px;
  }
  .cardFourth_head p {
    padding-top: 27px;
    font-size: 14px;
  }
  .cardFourth {
    padding: 35px 35px 60px 35px;
  }
  .profile {
    padding-top: 40px;
  }
  .profile img{
    width: 30px;
    height: 30px;
  }
  .profile span {
    padding-left: 20px;
    font-size: 14px;
  }
   /* sixth container  */
.recentPost h2 {
  font-size: 35px;
  line-height: 50px;
  }




}



  
  